:root {
  --sl-color-accent-low: #dbeafe;
  --sl-color-accent: #2563eb;
  --sl-color-accent-high: #1e40af;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f1f5f9;
  --sl-color-gray-2: #e2e8f0;
  --sl-color-gray-3: #94a3b8;
  --sl-color-gray-4: #475569;
  --sl-color-gray-5: #1e293b;
  --sl-color-gray-6: #0f172a;
  --sl-color-black: #020617;
  --sl-font: "Inter", ui-sans-serif, system-ui, sans-serif;
}
