{
  "openapi": "3.1.0",
  "info": {
    "title": "BuildWorkPro API",
    "version": "1.0.0",
    "description": "Construction project management, CRM, and workflows — public REST API.",
    "contact": {
      "name": "BuildWorkPro Developers",
      "email": "developers@buildworkpro.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://buildworkpro.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://app.buildworkpro.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "schemas": {
      "ScopeId": {
        "type": "string",
        "enum": [
          "contacts:read",
          "contacts:write",
          "contacts:delete",
          "leads:read",
          "leads:write",
          "leads:delete",
          "projects:read",
          "projects:write",
          "projects:delete",
          "bids:read",
          "bids:write",
          "bids:delete",
          "pay_apps:read",
          "pay_apps:write",
          "pay_apps:delete",
          "change_orders:read",
          "change_orders:write",
          "change_orders:delete",
          "site_logs:read",
          "site_logs:write",
          "site_logs:delete",
          "time_entries:read",
          "time_entries:write",
          "time_entries:delete",
          "products:read",
          "products:write",
          "products:delete",
          "documents:read",
          "documents:write",
          "documents:delete",
          "bids:send",
          "bids:accept_reject",
          "pay_apps:approve",
          "pay_apps:send",
          "change_orders:approve",
          "change_orders:send",
          "users:read",
          "webhooks:manage",
          "jobs:read",
          "jobs:write",
          "notifications:read",
          "offline_access"
        ],
        "description": "Available API scopes"
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "bad_request",
          "unauthorized",
          "token_expired",
          "forbidden",
          "scope_insufficient",
          "subscription_inactive",
          "tenant_suspended",
          "not_found",
          "conflict",
          "idempotency_key_reused",
          "validation_failed",
          "rate_limited",
          "internal_error",
          "service_unavailable",
          "maintenance"
        ],
        "description": "Catalog of error codes returned by the API"
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "URL identifying the problem type"
          },
          "title": {
            "type": "string",
            "description": "Short human-readable summary"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation"
          },
          "request_id": {
            "type": "string",
            "description": "Server-generated request identifier"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "Field path that failed validation"
                },
                "code": {
                  "type": "string",
                  "description": "Validation error code"
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable validation message"
                }
              },
              "required": [
                "field",
                "code",
                "message"
              ]
            },
            "description": "Validation error array (422 only)"
          }
        },
        "required": [
          "type",
          "title",
          "status"
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page; null when no more results"
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether more pages are available after this one"
          },
          "count": {
            "type": "integer",
            "description": "Items in this page"
          }
        },
        "required": [
          "cursor",
          "has_more",
          "count"
        ]
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "Server-generated request identifier"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "companyName",
          "email",
          "phone",
          "type",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateContact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          },
          "companyName": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer",
              "vendor",
              "subcontractor",
              "supplier",
              "employee",
              "partner",
              "other"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "UpdateContact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          },
          "companyName": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "customer",
              "vendor",
              "subcontractor",
              "supplier",
              "employee",
              "partner",
              "other"
            ]
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stageId": {
            "type": "integer"
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ]
          },
          "estimatedValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "probability": {
            "type": [
              "integer",
              "null"
            ]
          },
          "expectedCloseDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "contactId",
          "stageId",
          "assignedTo",
          "source",
          "projectType",
          "estimatedValue",
          "probability",
          "expectedCloseDate",
          "description",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateLead": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "stageId": {
            "type": "integer"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "residential",
              "commercial",
              "industrial"
            ]
          },
          "estimatedValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "probability": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "expectedCloseDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "stageId"
        ]
      },
      "UpdateLead": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "stageId": {
            "type": "integer"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source": {
            "type": [
              "string",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "residential",
              "commercial",
              "industrial"
            ]
          },
          "estimatedValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "probability": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "expectedCloseDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "LeadStage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "orderIndex": {
            "type": "integer"
          },
          "isWon": {
            "type": "boolean"
          },
          "isLost": {
            "type": "boolean"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "color",
          "orderIndex",
          "isWon",
          "isLost",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateLeadStage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "orderIndex": {
            "type": "integer"
          },
          "isWon": {
            "type": "boolean"
          },
          "isLost": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateLeadStage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "color": {
            "type": [
              "string",
              "null"
            ]
          },
          "orderIndex": {
            "type": "integer"
          },
          "isWon": {
            "type": "boolean"
          },
          "isLost": {
            "type": "boolean"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "projectNumber": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "bidId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": [
              "string",
              "null"
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expectedEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "actualEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "contractValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "projectNumber",
          "contactId",
          "bidId",
          "projectType",
          "status",
          "priority",
          "startDate",
          "expectedEndDate",
          "actualEndDate",
          "contractValue",
          "description",
          "siteAddress",
          "assignedTo",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "projectNumber": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "planning",
              "in_progress",
              "on_hold",
              "closeout",
              "completed",
              "cancelled"
            ]
          },
          "priority": {
            "type": [
              "string",
              "null"
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expectedEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "actualEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "contractValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "projectNumber": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "projectType": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "planning",
              "in_progress",
              "on_hold",
              "closeout",
              "completed",
              "cancelled"
            ]
          },
          "priority": {
            "type": [
              "string",
              "null"
            ]
          },
          "startDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expectedEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "actualEndDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "contractValue": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "Bid": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "bidNumber": {
            "type": "string"
          },
          "contactId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "leadId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "projectId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "subtotal": {
            "type": [
              "string",
              "null"
            ]
          },
          "taxAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": [
              "string",
              "null"
            ]
          },
          "taxRate": {
            "type": [
              "string",
              "null"
            ]
          },
          "discount": {
            "type": [
              "string",
              "null"
            ]
          },
          "discountType": {
            "type": [
              "string",
              "null"
            ]
          },
          "validUntil": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "terms": {
            "type": [
              "string",
              "null"
            ]
          },
          "siteAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "sentAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "acceptedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "acceptedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "bidNumber",
          "contactId",
          "leadId",
          "projectId",
          "status",
          "subtotal",
          "taxAmount",
          "total",
          "taxRate",
          "discount",
          "discountType",
          "validUntil",
          "notes",
          "terms",
          "siteAddress",
          "sentAt",
          "acceptedAt",
          "acceptedBy",
          "createdAt",
          "updatedAt"
        ]
      },
      "BidLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "bidId": {
            "type": "integer"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "quantity": {
            "type": [
              "string",
              "null"
            ]
          },
          "unitPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "bidId",
          "description",
          "quantity",
          "unitPrice",
          "total"
        ]
      },
      "PayApp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "payAppNumber": {
            "type": "string"
          },
          "projectId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "periodStart": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "periodEnd": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "contractSum": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalCompletedAndStored": {
            "type": [
              "string",
              "null"
            ]
          },
          "retainageAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "currentPaymentDue": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "payAppNumber",
          "projectId",
          "status",
          "periodStart",
          "periodEnd",
          "contractSum",
          "totalCompletedAndStored",
          "retainageAmount",
          "currentPaymentDue",
          "createdAt",
          "updatedAt"
        ]
      },
      "ChangeOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "changeOrderNumber": {
            "type": "string"
          },
          "projectId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalAmount": {
            "type": [
              "string",
              "null"
            ]
          },
          "approvedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "approvedBy": {
            "type": [
              "string",
              "null"
            ]
          },
          "rejectedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "rejectionReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "changeOrderNumber",
          "projectId",
          "title",
          "description",
          "status",
          "reason",
          "totalAmount",
          "approvedAt",
          "approvedBy",
          "rejectedAt",
          "rejectionReason",
          "createdAt",
          "updatedAt"
        ]
      },
      "SiteLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "projectId": {
            "type": "integer"
          },
          "logDate": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "workPerformed": {
            "type": [
              "string",
              "null"
            ]
          },
          "issues": {
            "type": [
              "string",
              "null"
            ]
          },
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "isReviewed": {
            "type": "boolean"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "projectId",
          "logDate",
          "title",
          "notes",
          "workPerformed",
          "issues",
          "tags",
          "isReviewed",
          "createdAt",
          "updatedAt"
        ]
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "projectId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "taskId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "phaseId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "hours": {
            "type": "string"
          },
          "hourlyRate": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalCost": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "isReviewed": {
            "type": "boolean"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "projectId",
          "userId",
          "taskId",
          "phaseId",
          "date",
          "hours",
          "hourlyRate",
          "totalCost",
          "description",
          "isReviewed",
          "createdAt",
          "updatedAt"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sku": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string"
          },
          "categoryId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "costPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "sellPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "unit": {
            "type": [
              "string",
              "null"
            ]
          },
          "manufacturerId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "manufacturerCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "isKit": {
            "type": "boolean"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "sku",
          "name",
          "description",
          "type",
          "categoryId",
          "costPrice",
          "sellPrice",
          "unit",
          "manufacturerId",
          "manufacturerCode",
          "isKit",
          "isActive",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProductKitItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "kitProductId": {
            "type": "integer"
          },
          "componentProductId": {
            "type": "integer"
          },
          "defaultQuantity": {
            "type": [
              "string",
              "null"
            ]
          },
          "overrideCostPrice": {
            "type": [
              "string",
              "null"
            ]
          },
          "sortOrder": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "kitProductId",
          "componentProductId",
          "defaultQuantity",
          "overrideCostPrice",
          "sortOrder"
        ]
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "integer"
          },
          "originalFilename": {
            "type": "string"
          },
          "storagePath": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "fileSize": {
            "type": "integer"
          },
          "category": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "entityType",
          "entityId",
          "originalFilename",
          "storagePath",
          "mimeType",
          "fileSize",
          "category",
          "description",
          "createdAt",
          "updatedAt"
        ]
      },
      "CalendarEvent": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "task",
              "phase",
              "project",
              "lead",
              "activity",
              "bid"
            ]
          },
          "title": {
            "type": "string"
          },
          "start": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "end": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "projectId": {
            "type": [
              "integer",
              "null"
            ]
          },
          "assignedTo": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "title",
          "start",
          "end"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenantUserId": {
            "type": "integer"
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "username": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "joinedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "tenantUserId",
          "firstName",
          "lastName",
          "email",
          "username",
          "role",
          "isActive",
          "joinedAt"
        ]
      },
      "ProjectTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "createdAt",
          "updatedAt"
        ]
      },
      "BrandingSettings": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenantId": {
            "type": "integer"
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "primaryColor": {
            "type": [
              "string",
              "null"
            ]
          },
          "accentColor": {
            "type": [
              "string",
              "null"
            ]
          },
          "hasLogo": {
            "type": "boolean"
          }
        }
      },
      "DataRetentionSettings": {
        "type": "object",
        "properties": {
          "auditLogRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          },
          "activityLogRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          },
          "notificationRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          },
          "deletedRecordsRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          },
          "exportRetentionDays": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "JobProgress": {
        "type": "object",
        "properties": {
          "processed": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "errorsCount": {
            "type": "integer"
          }
        },
        "required": [
          "processed",
          "total",
          "errorsCount"
        ]
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "progress": {
            "$ref": "#/components/schemas/JobProgress"
          },
          "params": {},
          "result": {},
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "resourceType",
          "status",
          "createdAt",
          "expiresAt"
        ]
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "lastDeliveredAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "disabledAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "disabledReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "id",
          "url",
          "description",
          "eventTypes",
          "isActive",
          "consecutiveFailures",
          "lastDeliveredAt",
          "disabledAt",
          "disabledReason",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookEndpointWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEndpoint"
          },
          {
            "type": "object",
            "properties": {
              "signingSecret": {
                "type": "string"
              }
            },
            "required": [
              "signingSecret"
            ]
          }
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "eventId": {
            "type": "string"
          },
          "endpointId": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "exhausted"
            ]
          },
          "attemptCount": {
            "type": "integer"
          },
          "nextAttemptAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastAttemptedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "responseStatus": {
            "type": [
              "integer",
              "null"
            ]
          },
          "responseBody": {
            "type": [
              "string",
              "null"
            ]
          },
          "responseHeaders": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "eventId",
          "endpointId",
          "status",
          "attemptCount",
          "nextAttemptAt",
          "lastAttemptedAt",
          "responseStatus",
          "responseBody",
          "responseHeaders",
          "errorMessage",
          "createdAt",
          "completedAt"
        ]
      },
      "WebhookDeliveryFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "eventId": {
            "type": "string"
          },
          "endpointId": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "succeeded",
              "failed",
              "exhausted"
            ]
          },
          "attemptCount": {
            "type": "integer"
          },
          "nextAttemptAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastAttemptedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "responseStatus": {
            "type": [
              "integer",
              "null"
            ]
          },
          "responseBody": {
            "type": [
              "string",
              "null"
            ]
          },
          "responseHeaders": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ]
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "eventId",
          "endpointId",
          "status",
          "attemptCount",
          "nextAttemptAt",
          "lastAttemptedAt",
          "responseStatus",
          "responseBody",
          "responseHeaders",
          "errorMessage",
          "createdAt",
          "completedAt"
        ]
      },
      "OauthClientRegistration": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "client_id_issued_at": {
            "type": "integer"
          },
          "client_name": {
            "type": "string"
          },
          "client_secret_expires_at": {
            "type": "integer"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scope": {
            "type": "string"
          },
          "token_endpoint_auth_method": {
            "type": "string",
            "enum": [
              "none",
              "client_secret_basic",
              "client_secret_post"
            ]
          }
        },
        "required": [
          "client_id",
          "client_id_issued_at",
          "client_name",
          "redirect_uris",
          "grant_types",
          "scope",
          "token_endpoint_auth_method"
        ]
      },
      "OauthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer"
          },
          "refresh_token": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ]
      },
      "OauthUserinfo": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "description": "Stringified user id of the resource owner.",
            "example": "42"
          },
          "tenant_id": {
            "type": "integer",
            "description": "Tenant the access token is scoped to.",
            "example": 7
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the resource owner.",
            "example": "jane@example.com"
          },
          "name": {
            "type": "string",
            "description": "`firstName lastName`, trimmed. Empty string when both names are missing — never null.",
            "example": "Jane Doe"
          },
          "role": {
            "type": "string",
            "description": "The user's tenant role at the moment the request was authenticated.",
            "example": "company_admin"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The scopes carried by the presented access token.",
            "example": [
              "contacts:read",
              "leads:read"
            ]
          }
        },
        "required": [
          "sub",
          "tenant_id",
          "email",
          "name",
          "role",
          "scopes"
        ]
      },
      "OauthTokenError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "OauthTokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "description": "OAuth 2.1 grant type. Supported: authorization_code, refresh_token.",
            "example": "authorization_code"
          },
          "code": {
            "type": "string",
            "description": "Authorization code (required for grant_type=authorization_code)."
          },
          "redirect_uri": {
            "type": "string",
            "description": "Must exact-match the redirect_uri originally used to obtain the code."
          },
          "client_id": {
            "type": "string",
            "description": "OAuth client identifier issued by the registration endpoint."
          },
          "client_secret": {
            "type": "string",
            "description": "Required for confidential clients; MUST be omitted for public clients."
          },
          "code_verifier": {
            "type": "string",
            "description": "PKCE verifier (S256). Required for grant_type=authorization_code."
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token (required for grant_type=refresh_token)."
          },
          "scope": {
            "type": "string",
            "description": "Optional space-separated scope list. For grant_type=refresh_token, MUST be a subset of the original refresh token's scopes (scope downgrade only). Upgrade is rejected with invalid_scope."
          }
        },
        "required": [
          "grant_type",
          "client_id"
        ]
      },
      "OauthRevokeError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "OauthRevokeRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The token to revoke. Can be either an access token (prefix bwp_at_) or a refresh token (prefix bwp_rt_)."
          },
          "token_type_hint": {
            "type": "string",
            "enum": [
              "access_token",
              "refresh_token"
            ],
            "description": "Optional hint about the token type. The server still falls back to the other type if the hinted lookup misses (RFC 7009 §4.1.2)."
          },
          "client_id": {
            "type": "string",
            "description": "OAuth client identifier issued by the registration endpoint."
          },
          "client_secret": {
            "type": "string",
            "description": "Required for confidential clients; MUST be omitted for public clients."
          }
        },
        "required": [
          "token",
          "client_id"
        ]
      },
      "OauthRegistrationError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "OauthClientRegistrationRequest": {
        "type": "object",
        "properties": {
          "client_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 1,
            "maxItems": 10
          },
          "grant_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "authorization_code",
                "refresh_token"
              ]
            },
            "default": [
              "authorization_code",
              "refresh_token"
            ]
          },
          "scope": {
            "type": "string",
            "default": ""
          },
          "token_endpoint_auth_method": {
            "type": "string",
            "enum": [
              "none",
              "client_secret_basic",
              "client_secret_post"
            ],
            "default": "none"
          },
          "contact": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "client_name",
          "redirect_uris"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "bwp_live_... or bwp_test_...",
        "description": "Long-lived tenant-wide API key. Provision in Settings → Developer → API Keys."
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.1 per-user token. Available in Phase 4.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.buildworkpro.com/api/v1/oauth/authorize",
            "tokenUrl": "https://app.buildworkpro.com/api/v1/oauth/token",
            "refreshUrl": "https://app.buildworkpro.com/api/v1/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/contacts": {
      "get": {
        "summary": "List contacts",
        "description": "Returns a cursor-paginated list of contacts for the authenticated tenant.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "Return compact row projection (id + key fields only)."
            },
            "required": false,
            "description": "Return compact row projection (id + key fields only).",
            "name": "compact",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Scope insufficient",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create contact",
        "description": "Creates a new contact.",
        "security": [
          {
            "bearerAuth": [
              "contacts:write"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContact"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/get-many": {
      "post": {
        "summary": "Bulk-fetch contacts by ID",
        "description": "Fetch up to 50 contacts by ID in a single round-trip. Returns rows for IDs that exist in the tenant — IDs that don't exist (or belong to another tenant) are silently omitted. Compare `meta.requested` to `meta.returned` to detect missing.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "minItems": 1,
                    "maxItems": 50
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ResponseMeta"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "requested": {
                              "type": "integer"
                            },
                            "returned": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "requested",
                            "returned"
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Scope insufficient",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/count": {
      "get": {
        "summary": "Count contacts",
        "description": "Returns the total number of contacts in the tenant matching the optional `search`, `type`, `dateFrom`/`dateTo` filters. Mirrors the same filters as `GET /contacts` minus pagination — use this when you only need cardinality and don't want to walk every page.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "total"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Scope insufficient",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "summary": "Get contact by id",
        "description": "Returns a single contact.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update contact",
        "description": "Partially updates a contact.",
        "security": [
          {
            "bearerAuth": [
              "contacts:write"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete contact",
        "description": "Soft-deletes a contact.",
        "security": [
          {
            "bearerAuth": [
              "contacts:delete"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/exports": {
      "post": {
        "summary": "Start CSV export of contacts",
        "description": "Enqueues a CSV export job for contacts. Poll /api/v1/jobs/{id} for status; GET /api/v1/jobs/{id}/download for the signed URL.",
        "security": [
          {
            "bearerAuth": [
              "contacts:read",
              "jobs:write"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "string"
                        },
                        "status_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "job_id",
                        "status_url"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/imports": {
      "post": {
        "summary": "Start CSV import of contacts",
        "description": "Enqueues a CSV import job. sourcePath must be an opaque upload path returned by POST /jobs/uploads.",
        "security": [
          {
            "bearerAuth": [
              "contacts:write",
              "jobs:write"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourcePath": {
                    "type": "string"
                  },
                  "mapping": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "updateInPlace": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "sourcePath",
                  "mapping"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "string"
                        },
                        "status_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "job_id",
                        "status_url"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/bulk": {
      "post": {
        "summary": "Start bulk operation on contacts",
        "description": "Enqueues a bulk delete/restore job for up to 500 contact ids.",
        "security": [
          {
            "bearerAuth": [
              "contacts:delete",
              "jobs:write"
            ]
          }
        ],
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "string",
                    "enum": [
                      "delete",
                      "restore"
                    ]
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "exclusiveMinimum": 0
                    },
                    "minItems": 1,
                    "maxItems": 500
                  }
                },
                "required": [
                  "operation",
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "string"
                        },
                        "status_url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "job_id",
                        "status_url"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/summary": {
      "get": {
        "summary": "Aggregate lead totals and breakdowns by stage and source",
        "description": "Returns flat totals (count, estimated_value_total) plus a breakdown by pipeline stage (with stage name joined from lead_stages) and a breakdown by source. Null source becomes its own bucket. Money values are decimal strings. Date filter applies to createdAt.",
        "security": [
          {
            "bearerAuth": [
              "leads:read"
            ]
          }
        ],
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            },
            "required": false,
            "name": "assignedTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0
            },
            "required": false,
            "name": "stageId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "totals": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer"
                            },
                            "estimated_value_total": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "count",
                            "estimated_value_total"
                          ]
                        },
                        "by_stage": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "stageId": {
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "stageName": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "count": {
                                "type": "integer"
                              },
                              "estimated_value_total": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "stageId",
                              "stageName",
                              "count",
                              "estimated_value_total"
                            ]
                          }
                        },
                        "by_source": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "count": {
                                "type": "integer"
                              },
                              "estimated_value_total": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "source",
                              "count",
                              "estimated_value_total"
                            ]
                          }
                        }
                      },
                      "required": [
                        "totals",
                        "by_stage",
                        "by_source"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Scope insufficient",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/count": {
      "get": {
        "summary": "Count leads",
        "description": "Returns the total number of leads in the tenant matching the optional `search`, `stageId`, `assignedTo`, `dateFrom`/`dateTo`, `updatedFrom` filters. Mirrors GET /leads minus pagination.",
        "security": [
          {
            "bearerAuth": [
              "leads:read"
            ]
          }
        ],
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            },
            "required": false,
            "name": "stageId",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            },
            "required": false,
            "name": "assignedTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "updatedFrom",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "total"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Scope insufficient",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "get": {
        "summary": "List leads",
        "description": "Returns a cursor-paginated list of leads for the authenticated tenant.",
        "security": [
          {
            "bearerAuth": [
              "leads:read"
            ]
          }
        ],
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "cursor",
[...]
